<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>

<script type="text/javascript">
    $(function () {
        $('#start-date').datetimepicker({
            minDate:new Date(),
            format: 'YYYY-MM-DD HH:mm',
            maxDate: moment().add(4, 'days')
        });

        $('#end-date').datetimepicker({
            minDate:new Date(),
            format: 'YYYY-MM-DD HH:mm',
            maxDate: moment().add(4, 'days')
        });
    });
</script>